*, *::before, *::after {
  margin: 0px;
  padding: 0px;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 30px);
  grid-template-rows: repeat(3, 30px);
  gap: 5px;
}

.grid {
  height: 30px;
  width: 30px;
  background-color: grey;
  border: 2px solid black;
}